@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-normal: #c0beb5b3;
  --bg-tag-normal: #c0beb5;

  --bg-fighting: #bd3127bb;
  --bg-tag-fighting: #bd3127;

  --bg-flying: #95b1c5;
  --bg-tag-flying: #3e9ff7;

  --bg-poison: #d6b6d4;
  --bg-tag-poison: #ae67ad;

  --bg-ground: #facf25a8;
  --bg-tag-ground: #facf25;

  --bg-rock: #e1be589c;
  --bg-tag-rock: #e1be58;
  
  --bg-bug: #bfd9019c;
  --bg-tag-bug: #bfd901;

  --bg-ghost: #6665cea6;
  --bg-tag-ghost: #6665ce;

  --bg-steel: #c9c8e4;
  --bg-tag-steel: #acabc3;

  --bg-fire: #f70a0da3;
  --bg-tag-fire: #ff301e;

  --bg-water: #00abf9ab;
  --bg-tag-water: #00abf9;

  --bg-grass: #bddcbc;
  --bg-tag-grass: #7bb97a;

  --bg-electric: #f8e800b8;
  --bg-tag-electric: #f8e800;

  --bg-psychic: #ff38c2ab;
  --bg-tag-psychic: #ff38c2;

  --bg-ice: #26fbf7ad;
  --bg-tag-ice: #26fbf7;

  --bg-dragon: #815af3;
  --bg-tag-dragon: #1b0e45;

  --bg-dark: #904a2cc2;
  --bg-tag-dark: #904a2c;

  --bg-fairy: #ffa5ff;
  --bg-tag-fairy: #f05df0;

  --bg-unknown: #cfa7cd;
  --bg-tag-unknown: #3a1744;
  
  --bg-shadow: #835292;
  --bg-tag-shadow: #6a4271;
}

body {
  font-weight: 500;
}

.hidden_text {
  height: 25px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button {
  background-color: #188038;
  color: #ffffff;
  border-radius: .2rem;
  font-size: 1rem;
  font-weight: bold;
}